/* Set header to fixed position while scrolling */
body {
  width: 100%
  height: auto;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  color: #ff0000
}

.header-nav {
  position: fixed;
  width: 100%;
  height: auto;
 }

.video-container {
  position: absolute;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  display: inline-block;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
